POSTGRES_USER=postgres_user

POSTGRES_PASSWORD=postgres_password

POSTGRES_DB=postgres_db_name

DB_HOST=db

DB_PORT=5432

SECRET_KEY=secret-key

DEBUG=False

ALLOWED_HOSTS=localhost,158.160.***.***,127.0.0.1,my_domain.zapto.org
